<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置基于Spring的JavaMail操作-->
    <!--配置消息对象，等同于工具类中创建Message-->
    <bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
        <!--配置邮件发送人-->
        <property name="from" value="${mail.fromaddress}"/>
        <!--可以配置标题正文，本次功能基于方法调用时设置-->
    </bean>

    <!--配置邮件发送对象-->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="host" value="${mail.host}"/>
        <property name="username" value="${mail.username}"/>
        <property name="password" value="${mail.passwsord}"/>
        <property name="javaMailProperties">
            <props>
                <!--配置认证开关-->
                <prop key="mail.smtp.auth">true</prop>
                <!--设置发送超时时间-->
                <prop key="mail.smtp.timeout">0</prop>
            </props>
        </property>
    </bean>
</beans>
